* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  color: #fefefe;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #161616;
}

p {
  text-indent: 1.5em;
}

h1 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  font-size: 20px;
}

.space {
  height: 70px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 70px;
  background: #161616;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header_m {
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.menuIcon {
  width: 32px;
  height: 32px;
  margin: 19px 20px 19px auto;
  cursor: pointer;
  position: relative;
}

.menuIcon span {
  width: 24px;
  height: 4px;
  position: absolute;
  background: #fefefe;
  opacity: 1;
  left: 4px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  display: block;
  border-radius: 2px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.menuIcon span:nth-child(1) {
  top: 6px;
}

.menuIcon span:nth-child(2) {
  top: 14px;
}

.menuIcon span:nth-child(3) {
  top: 22px;
}

.menuIcon_b span:nth-child(1) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 14px;
}

.menuIcon_b span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

.menuIcon_b span:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 14px;
}

#logo {
  width: 178px;
  height: 40px;
  background: url("../img/logo.png");
  margin: 15px 0 15px 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.nav2 {
  width: 100%;
}

.nav2box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.nav-item {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:hover {
  color: #00afef;
}

section {
  /*max-width: 1000px*/
  width: 1000px;
  padding-top: 120px;
  margin: -70px auto 0 auto;
}

.title {
  width: 100%;
  font-size: 24px;
  margin-left: 20px;
}

.line {
  width: 100%;
  height: 2px;
  margin: 10px 0 15px 0;
  background: #00afef;
}

.fline {
  width: 100%;
  height: 2px;
  margin: 8px 0;
  background: #00afef;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 10px;
  padding: 10px;
  border-radius: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #212121;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.block2 {
  padding: 20px;
}

.txt {
  width: 47.5%;
  margin: 0 auto;
  padding: 10px 0;
}

.img {
  width: 47.5%;
  margin: 0 auto;
  padding: 10px 0;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

footer {
  width: 100%;
  background: #161616;
  padding: 10px 0;
  margin-top: 50px;
}

.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (max-width: 999px) {
  .header_p {
    display: none;
  }
  .header_m {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav {
    display: none;
  }
  .nav-item {
    width: 100%;
    margin: 5px 0;
    padding: 0 20px;
  }
  section {
    width: 100%;
    padding-top: 85px;
  }
  .block {
    width: 95%;
    margin: 10px auto 0 auto;
  }
  .txt {
    width: 100%;
  }
  .img {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */